@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');

/* Preset Css */
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #808080;
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none !important;
	list-style-type: none;
	box-sizing: border-box;
}
ol,ul,li{
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
.h-btn {
	background: #4caf50;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 30px;
	border: 1px solid #aeaeae;
	border-radius: 40px;
	display: inline-block;
}
.h-btn:hover{
	color: #4caf50;
	background: #fff;
	border: 1px solid #4caf50;
}
.wrapper{
	overflow: hidden;
}
/* Reusebale Component */
.sec-title{
	text-align: center;
}
.sec-title .subtitle{
	font-size: 10px;
	font-weight: 400;
	color: #808080;
	text-transform: uppercase;
}
.sec-title h2.title{
	color: #444;
	font-size: 30px;
	font-weight: 600;
}
.sec-title h2 span{
	color: #aad37a;
}
.sec-title p{
	font-size: 14px;
	padding-top: 25px;
}
.sec-title .title-border{
	background: #aad37a;
	height: 4px;
	width: 40px;
	position: relative;
	margin: auto;
}
.title-border::after{
	content: "";
	position: absolute;
	left: -10px;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
	background: #ddd;
	height: 1px;
	z-index: -1;
}


/* Header Section Start*/
/* Topbar section */
.topbar{
	background: #343434;
}
.topbar-section{
	display: flex;
	justify-content: space-between;
}
.top-left ul,
.top-right ul{}
.top-left ul li,
.top-right ul li{
	font-size: 13px;
	font-weight: 300;
	padding: 15px 12px;
}
.top-left ul li i{
	padding-right: 6px;
}
.top-right ul li a{
	display: block;
	color: #808080;
}
.top-right ul li:hover a{
	color: #fff;
	transition: .5s;
}

/* Navbar Section */
.navbar-nav{}
.navbar-nav .nav-item{
	padding: 12px 5px;
}
.navbar-nav .nav-item .nav-link{
	color: #444;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
}
.navbar-nav .nav-item:hover .nav-link, .navbar-nav .nav-item .active{
	color: #aad37a;
}
/* Header Section End*/

/* Banner Section Start */
.banner-section{
	position: relative;
}
.banner-item{
	position: relative;
	z-index: -5;
}
.banner-item img{
	/* height: 90vh; */
	width: 100%;
}
.overlay{
	height: 100%;
	width: 100%;
	background: #000;
	position: absolute;
	top: 0;
	opacity: .5;
	padding: -50px 0;
}
.banner-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	text-align: center;
} 
.banner-text h4{
	font-size: 27px;
	font-weight: 400;
}
.banner-text h1{
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.banner-text p{
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 40px;
}

.slider-btn .h-btn{
	margin: 0 15px;
}
.slider-btn .h-btn:hover{
	background: #fff;
	color: #4caf50;
}

.h-bullet {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	z-index: 10;
}
.h-bullet li{
	background: #414141;
	width: 10px;
	height: 10px;
	border: 2px solid #414141;
	margin: 0 5px;
}
.h-bullet li:hover,
.h-bullet li.active{
	border: 2px solid #a6a6a6;
}

.slider-arrow .slider-left,
.slider-arrow .slider-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 40px;
}
.slider-arrow .slider-left{
	left: 1%;
}
.slider-arrow .slider-right{
	right: 1%;
}
.slider-arrow .slider-left a,
.slider-arrow .slider-right a{
	color: #fff;
}
.slider-arrow .slider-left a:hover,
.slider-arrow .slider-right a:hover{
	color: #4caf50;
}
/* Banner Section End */


/* About Section Start */
.about-section{
	margin-top: -100px;
	z-index: 20;
}
.about-img {
	background: #4caf50;
	/* width: calc(100% - 40px); */
}
.about-img img{
	width: 100%;
	position: relative;
	top: 40px;
	left: 40px;
}
.about-main{
	height: calc(100% + 40px);
	position: relative;
	padding-top: 100px;
}
.about-main .about-content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
}
.about-content .sec-title{
	text-align: left;
}
.about-text{	
	padding: 35px 0;
}
.about-text p{
	font-size: 14px;
	font-weight: 400;
}
.about-text .about-btn{
	padding-top: 35px;
}
.about-btn .h-btn{
	color: #4caf50;
	background: #fff;
}
.about-btn .h-btn:hover{
	background: #4caf50;
	color: #fff;
}
/* About Section End */

/* We-Do Section Start */
.we-do{
	margin-top: 40px;
	background: #fafafa;
	padding-top: 70px;
}
.we-do-title .sec-title{
	text-align: left;
}
.do-service{
	padding-top: 20px;
}
.do-service ion-icon{
	font-size: 40px;
	color: #444;
	padding-bottom: 20px;
}
.do-service .do-title h3{
	color: #444;
	font-size: 18px;
	padding-bottom: 20px;
	position: relative;
}
.do-service h3::after{
	content: "";
	position: absolute;
	background: #808080;
	height: 1px;
	width: 30px;
	left: 0;
	bottom: 0;
}
.do-service .do-service p{
	font-size: 14px;
	color: #808080;
	padding-top: 15px;
}

.do-img{}
.do-img img{
	max-width: 130%;
	margin-bottom: -145px;
}

/* We-Do Section End */

/* Work Section Start */
.work-section{}
.work-nav{
	padding: 80px 0 30px;
}
.work-nav ul{}
.work-nav ul li{
	padding: 8px;
	position: relative;
	cursor: pointer;
}
.work-nav ul li::after {
	content: "";
	position: absolute;
	width: 1px;
	height: 13px;
	background: #444444;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.work-nav ul li:last-child::after{
	width: 0;
}
.work-nav ul li.active,
.work-nav ul li.mixitup-control-active {
	color: #4caf50;
}

.work-img{
	position: relative;
}
.work-img img{
	max-width: 100%;
	position: relative;
}
.hover-overlay{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(76, 173, 79, .8);
	transform: scale(0);
	transition: .5s;
	/* width: 0; */
}
.hover-overlay span{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.work-img:hover .hover-overlay{
	transform: scale(1);
	/* width: 100%; */
}
.p-work{
	padding: 2px;
}
.d-no{
	display: none;
}
.social ul{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.social ul li {
	padding: 5px 15px;
}
.social ul li a{
	color: #fff;
	background: red;
	font-size: 25px;
	height: 35px;
	width: 35px;
	line-height: 35px;
	border-radius: 50%;
	display: block;
	text-align: center;
	transition: all .5s ease-in-out;
	transform: rotate(0) scale(1);
}
.social ul li:hover a{
	color: red;
	background: #fff;
	transform: rotate(360deg) scale(1.2);
}
/* Work Section End */


/* Fedatures Section Start*/
.features-list{
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
.features-list ul{
	text-align: center;
}
.features-list ul li{
	flex-grow: 1;
}
.features-list ul li a{
	font-size: 18px;
	font-weight: 500;
	display: block;
	color: #444444;
	padding: 30px;
}
.features-list ul li a i{
	margin-right: 10px;
}
.features-list ul li a.active{
	background: #f7f7f7;
	border-bottom: 3px solid #8bc34a;
}
.tab-bg{
	background: #f7f7f7;
}
.tab-content {
	padding-top: 100px;
	padding-bottom: 100px;
}
.tab-text h3{
	font-size: 30px;
	font-weight: 500;
	padding-bottom: 30px;
	color: #444;
}
.tab-text p{
	font-size: 14px;
	font-weight: 400;
	color: #808080;
	padding-bottom: 15px;
}
/* Fedatures Section End*/


/* Discover Section Start*/
.discover{
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/banner.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
.discover-text{
	padding: 120px 0;
	text-align: center;
	position: relative;
}
.discover-text h2{
	color: #fdfdfd;
	font-size: 30px;
	text-transform: uppercase;
}
.discover-text a.h-btn {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
	transform: translate(-50%, 50%);
	padding: 25px 120px;
	border-radius: 50%;
}
/* Discover Section End*/


/* Team-Member Section Start*/
.team-member{
	margin-top: 100px;
	overflow: hidden;
	margin-bottom: 200px;
}
.team-member .sec-title{
	padding-bottom: 80px;
}

.team-img {
	position: relative;
	text-align: center;
	color: #fff;
}
.team-img{
	width: 100%;
}
.team-hover {
	position: absolute;
	left: 0;
	top: 100%;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .9);
	transition: 1s;
}
.team-hover-text {
	position: absolute;
	top: 45%;
	transition: 1s;
	/* visibility: hidden;
	opacity: 0; */
}
.team-hover-text h3{
	font-size: 21px;
}
.team-hover-text h5{
	font-size: 13px;
	padding-bottom: 25px;
}
.team-hover-text p{
	font-size: 14px;
}
.team-hover-social {
	background: #4CAF50;
	position: absolute;
	left: 0;
	bottom: -70px;
	right: 0;
	transition: 1s;
	/* visibility: hidden;
	opacity: 0; */
}
.team-hover-social ul.social-icon{
	display: flex;
	justify-content: center;
}
ul.social-icon li{
	padding: 20px 10px;
}
ul.social-icon li a{
	color: #fff;
	background: red;
	font-size: 18px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	display: block;
	transition: all .5s ease-in-out;
	transform: rotate(0);
}
ul.social-icon li:hover a{
	color: red;
	background: #fff;
	transform: rotate(360deg) scale(1.2);
}

.team-img:hover .team-hover{
	top: 0;
}
/* .team-img:hover .team-hover-text,
.team-img:hover .team-hover-social{
	bottom: 0;
	visibility: visible;
	opacity: 1;
} */
.team-img:hover .team-hover-text{
	transform: translateY(-45%);
}
.team-img:hover .team-hover-social{
	bottom: 0;
}
/* Team-Member Section End*/















