@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');

/* Preset Css */
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #808080;
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none !important;
	list-style-type: none;
	box-sizing: border-box;
}
ol,ul,li{
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
.h-btn {
	background: #4caf50;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 30px;
	border: 1px solid #aeaeae;
	border-radius: 40px;
	display: inline-block;
}
/* Reusebale Component */
.sec-title{
	text-align: center;
}
.sec-title .subtitle{
	font-size: 10px;
	font-weight: 400;
	color: #808080;
	text-transform: uppercase;
}
.sec-title h2.title{
	color: #444;
	font-size: 30px;
	font-weight: 600;
}
.sec-title h2 span{
	color: #aad37a;
}
.sec-title .title-border{
	background: #aad37a;
	height: 4px;
	width: 40px;
	position: relative;
	margin: auto;
}
.title-border::after{
	content: "";
	position: absolute;
	left: -10px;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
	background: #ddd;
	height: 1px;
	z-index: -1;
}


/* Header Section Start*/
/* Topbar section */
.topbar{
	background: #343434;
}
.topbar-section{
	display: flex;
	justify-content: space-between;
}
.top-left ul,
.top-right ul{}
.top-left ul li,
.top-right ul li{
	font-size: 13px;
	font-weight: 300;
	padding: 15px 12px;
}
.top-left ul li i{
	padding-right: 6px;
}
.top-right ul li a{
	display: block;
	color: #808080;
}
.top-right ul li:hover a{
	color: #fff;
	transition: .5s;
}

/* Navbar Section */
.navbar-nav{}
.navbar-nav .nav-item{
	padding: 12px 5px;
}
.navbar-nav .nav-item .nav-link{
	color: #444;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
}
.navbar-nav .nav-item:hover .nav-link, .navbar-nav .nav-item .active{
	color: #aad37a;
}
/* Header Section End*/

/* Banner Section Start */
.banner-section{
	position: relative;
}
.banner-item{
	position: relative;
	z-index: -5;
}
.banner-item img{
	/* height: 90vh; */
	width: 100%;
}
.overlay{
	height: 100%;
	width: 100%;
	background: #000;
	position: absolute;
	top: 0;
	opacity: .5;
	padding: -50px 0;
}
.banner-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	text-align: center;
} 
.banner-text h4{
	font-size: 27px;
	font-weight: 400;
}
.banner-text h1{
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.banner-text p{
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 40px;
}
.slider-btn{}
.slider-btn a{
	margin: 0 15px;
}
.slider-btn a:hover{
	background: #fff;
	color: #4caf50;
}

.h-bullet {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	z-index: 10;
}
.h-bullet li{
	background: #414141;
	width: 10px;
	height: 10px;
	border: 2px solid #414141;
	margin: 0 5px;
}
.h-bullet li:hover,
.h-bullet li.active{
	border: 2px solid #a6a6a6;
}

.slider-arrow .slider-left,
.slider-arrow .slider-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 40px;
}
.slider-arrow .slider-left{
	left: 1%;
}
.slider-arrow .slider-right{
	right: 1%;
}
.slider-arrow .slider-left a,
.slider-arrow .slider-right a{
	color: #fff;
}
.slider-arrow .slider-left a:hover,
.slider-arrow .slider-right a:hover{
	color: #4caf50;
}
/* Banner Section End */


/* About Section Start */
.about-section{
	margin-top: -100px;
	z-index: 20;
}
.about-img {
	background: #4caf50;
	/* width: calc(100% - 40px); */
}
.about-img img{
	width: 100%;
	position: relative;
	top: 40px;
	left: 40px;
}
.about-main{
	height: calc(100% + 40px);
	position: relative;
	padding-top: 100px;
}
.about-main .about-content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
}
.about-content .sec-title{
	text-align: left;
}
.about-text{	
	padding: 35px 0;
}
.about-text p{
	font-size: 14px;
	font-weight: 400;
}
.about-text .about-btn{
	padding-top: 35px;
}
.about-btn .h-btn{
	color: #4caf50;
	background: #fff;
}
.about-btn .h-btn:hover{
	background: #4caf50;
	color: #fff;
}
/* About Section End */






















